{% extends "base.html" %}

{% block content %}
<div class="game-container"> 
    <h2 id="message">Ready to play blackjack (Gamestate: {{ gameState.gameAlive }})</h2>
    <p id="game_message">Waiting for player action..</p>

    <!--TOOD: Center all this stuff to align with the player hand(s)-->

    <h3>Dealer</h3>
    <p id="dealer-sum">Dealer Sum: {{ dealer.sum }}</p>
    <p id="dealer-visible-sum">Dealer Visible Sum: {{ dealer.hand[0].value }}</p>
    <div id="dealer-cards"> 
         {% for card in dealer.hand %}
            <img src="{{ url_for('static', filename='cards/' + card.get_image_filename()) }}" width="100">
        {% endfor %}
    </div>
   

    <h3>Player</h3>
    <p id="player-sum">Player Sum: {{ player.sum }}</p>

    <div id="player-cards" class="hands-container">
        <div id="player-hand-1" class="player-hand">
        {% for card in player.hand %}
            <img src="{{ url_for('static', filename='cards/' + card.get_image_filename()) }}" width="100">
        {% endfor %}
        </div>

        <div id="player-hand-2" class="player-hand.hidden">

        </div>


    </div>


    <div id="controls">
        <button onclick="sendAction('hit')">Hit</button>
        <button onclick="sendAction('stand')">Stand</button>
        <button onclick="sendAction('double')">Double</button>
        <button onclick="sendAction('split')">Split</button>
        <button onclick="sendAction('reset')">Reset Game</button>
    </div>
</div>


{% endblock %}
