{% extends "base.html" %}

{% block title %}Hackjack{% endblock %}

{% block content %}
    {% if message %}
        <h2>{{message}}</h2>
    {% endif %}

    {% if game_message %}
        <p>{{game_message}}</p>
    {% endif %}

    {% if dealer %}
        <h2>DEALER</h2>
        <p>Visible Card: {{ dealer.hand[0] if dealer.hand else "No cards yet" }}</p>
        <p>Dealer Sum: {{ dealer.hand[0].value }}</p>
        <img src="{{ url_for('static', filename='cards/' + dealer.hand[0].image_filename()) }}" 
         width="100">


    {% else %}
        <h2>Error: Cannot access dealer</h2>
    {% endif %}

    {% if player %}
        <h2>PLAYER</h2>
        <p>Cards: {{ player.hand if player.hand else "No cards yet" }}</p>
        <p>Player Sum: {{ player.sum }}</p>
        {% for card in player.hand %}
            <img src="{{ url_for('static', filename='cards/' + card.image_filename()) }}" 
            alt="{{ card.valueStr }} of {{ card.suit }}"
            width="100">
        {% endfor %}
    {% else %}
        <h2>Error: Cannot access player</h2>

    {% endif %}

    <form method="POST">
        <button type="submit" name="action" value="hit">Hit</button>
        <button type="submit" name="action" value="stand">Stand</button>
        <button type="submit" name="action" value="stand">Double</button>
        <button type="submit" name="action" value="stand">Split</button>
        <button type="submit" name="action" value="reset">Reset Game</button>
    </form>

{% endblock %}
